<h1>Welcome to the Pokemon Info Site</h1>
@{
    ViewData["Title"] = "Home Page";
}
<div>
<h5>To See a Pokemon enter pokemon/{number} in the address area of the browser!</h5>
<h4>Check Out Bulbasaur</h4>

</div>
    
<a href="pokemon/1">Bulbasaur</a>