@model WeddingPlanner.Models.RegisterViewPlan

<div class="row">
    <div class="col s6">
        <h1>Plan Your Wedding</h1>
        <form asp-controller="WeddingPlanner" asp-action="CreatePlan" method="post">
            <div class="input-field col s12">
                <input asp-for="PersonOne" class="validate"/>
                <label asp-for="PersonOne">Wedder One</label>
                <span asp-validation-for="PersonOne"></span>
            </div>
            <div class="input-field col s12">
                <input asp-for="PersonTwo" class="validate"/>
                <label asp-for="PersonTwo">Wedder Two</label>
                <span asp-validation-for="PersonTwo"></span>
            </div>
            <div class="input-field col s12">
                <input asp-for="Date" type="date"/>
                <label asp-for="Date">Date of Wedding</label>
                <span asp-validation-for="Date"></span>
            </div>
            <div class="input-field col s12">
                <input asp-for="Address" class="validate"/>
                <label asp-for="Address">Address of Wedding</label>
                <span asp-validation-for="Address"></span>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit" >Create
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>