@model Banker.Models.RegisterViewModel
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!!!!</title>

    </head>
    <body>


        <div style="text-align: center;">
            <div>
                <h2>Welcome!!</h2>
            </div>
            <h4>New to Banco De Tacos????? Register Below!!!</h4>

            <form action="RegisterNew" method="post">
                <div>
                    
                    <span asp-validation-for="fname">

                    </span>
                <label>First Name:</label>
                <input type="text" name="fname">

                </div>
                <div>
                    <span asp-validation-for="lname">

                    </span>
                    <label>Last Name:</label>
                    <input type="text" name="lname">
                </div>

                <div>
                    <span asp-validation-for="email">

                    </span>
                    <label>Email Address</label>
                    <input type="text" name="email">

                </div>
                <div>
                    <span asp-validation-for="password">

                    </span>
                    <label>Password:</label>
                    <input type="password" name="password">
                </div>

                <div>
                    <span asp-validation-for="cpassword">

                    </span>
                    <label>Confirm Password:</label>
                    <input type="password" name="cpassword">
                </div>

                <input type="submit" value="Register">




            </form>
            <a href="/login">Already a Member?</a>
        </div>
    </body>
</html>