<h1>Here is the info you entered</h1>

<h2>Name: @ViewBag.Name</h2>
<h2>Location: @ViewBag.Location</h2>
<h2>Language: @ViewBag.Language</h2>
<h2>Comment: @ViewBag.Comment</h2>
<a href="/">Go back</a>