<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Dojodachi</title>
        
        <link rel="stylesheet" href="~/css/home.css"/>
    </head>
    <body>
     
        <div id="guy">
            <img src="~/img/happy.jpg" alt="Ninja">
            <h5>Congrats you have Won!!!!!!</h5>
            <form action = "Flush" method="post">
                <input type="submit" value="Restart">
            </form>
        </div>
    </body>
    </html>