<div style="text-align: center">
<h1>Reviews</h1>
@foreach(var x in ViewBag.Stuff){
    <h4>@x.Resturant  Stars:@x.Stars</h4>
    <p>Date Attended: @x.Attended</p>

    <p>Review: @x.Review</p>
   

    <p>Reviewed by @x.Name</p>
    <hr>
}


</div>
